body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-transform: uppercase;
  color: #e1e7e8;
}


 

/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
  .app-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "details-body"
      "footer";
    background: linear-gradient(90deg, #010712, #010712);
  }
  

}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {
  .app-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "header header"
      "sidebar sidebar"
      "details-body details-body"
      "footer footer";
    background: linear-gradient(90deg, Green, #00f2fe);
  }

}


/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) 
{
  .app-grid {
    display: grid;
    grid-template-columns: 250px 1fr; /* sidebar fixa + conteúdo flexível */
    padding: 0px;
    grid-template-rows: 100px repeat(3, auto);
    grid-template-areas:
      "sidebar header header header"
      "sidebar details-body details-body details-body"
      "sidebar footer footer footer";
    background: linear-gradient(90deg, #010712, #010712);
    
  }
}