
 
 
/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) 
{
    .details-body  {
      grid-area: details-body;
      background: linear-gradient(270deg, #111828, #111828);
      text-align: center;
      border-radius: 10px; /* bordas arredondadas no container */
      padding: 5px 0px 0px 0px; /* top, right, bottom, left espaço interno */
      margin: 5px 5px 5px 5px; /* top, right, bottom, left  espaço externo */
 
    }

    .details {
      display: flex;
      gap: 5px;
      flex-direction: column;

    }
 
    .card {

      padding: 5px 5px 5px 5px; /* top, right, bottom, left espaço interno */
      border-radius: 10px;
      flex: 1 1 auto; /* ocupa espaço flexível, mínimo de altura */

      font-size: 0.9rem;
      background-color: #192033;
       /* Limita o texto */
      white-space: nowrap;        /* impede quebra de linha */
      overflow: hidden;           /* esconde o excesso */
      text-overflow: ellipsis;    /* adiciona "..." no final */
    }

 

}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) 
{
     .details-body  {
      grid-area: details-body;
      background: linear-gradient(270deg, #111828, #111828);
      text-align: center;
      border-radius: 10px; /* bordas arredondadas no container */
      padding: 10px 0px 0px 0px; /* top, right, bottom, left espaço interno */
      margin: 5px 5px 5px 5px; /* top, right, bottom, left  espaço externo */
    }
    .details {
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    .card {
      background-color: #192033;
      padding: 16px;
      border-radius: 10px;
      flex: 1 1 auto; /* ocupa espaço flexível, mínimo 300px */

 
    }

}

/* ============================
   DESKTOP
   ============================ */
  @media (min-width: 1025px) 
  {
     .details-body {
      grid-area: details-body;
      background: linear-gradient(270deg, #111828, #111828);
      text-align: center;
      border-radius: 10px; /* bordas arredondadas no container */
      padding: 0px 0px 0px 0px; /* top, right, bottom, left espaço interno */
      margin: 5px 12px 5px 20px; /* top, right, bottom, left  espaço externo */
    }
    
    .details {
      display: flex;
      gap: 10px;
      border-radius: 10px; /* bordas arredondadas no container */
    }

    .card {
      background-color: #192033;
      padding: 16px;
      border-radius: 10px;

      flex: 1 1 300px; /* ocupa espaço flexível, mínimo 300px */
    }

 

    .card:hover {
      transform: translateY(-1px);
      box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
      transition: transform 0.2s ease;
    }

}
