.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

footer {
  grid-area: footer;
  text-align: center;
  border-radius: var(--radius-md);
  padding: 10px 8px;
  margin: 0;
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 640px) {
  footer {
    padding: 12px 10px;
  }
}

/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1024px) {
  footer {
    padding: 12px 14px;
  }
}
