/* ============================
   ESTILOS GERAIS
   ============================ */

 .sidebar-caption{
  font-size: 1.2rem;
  font-weight: 400;
}

.sidebar-caption-menu {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #9ca3af;
  margin-bottom: 10px;
}



/* Categoria */
.menu-category {
  margin-bottom: 25px;
}

.menu-category h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: var(--g); 
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #192033;
  transition: background 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  background: linear-gradient(270deg, #16254a, #192033);
    border: 1px solid #172e69;
}

 
.menu a.active {
  background: linear-gradient(90deg, #111828, #16254a);
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(270deg, #111828, #111828);
  width: 250px;
  min-height: 100vh;
  border-radius: 5px; /* bordas arredondadas no container */
  box-shadow: 2px 0 6px rgba(0,0,0,0.2);
}

.sidebar-header {
  display: flex;
  align-items: center;
}


/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) 
{
 .sidebar {
    width: auto;       /* largura fixa no desktop */
    max-width: auto;   /* garante que não passe disso */
    min-height: auto; /* ocupa toda a altura */
    text-align: left;
    padding: 10px 0px 5px 15px; /* top, right, bottom, left espaço interno */
    margin: 5px 5px 5px 5px; /* top, right, bottom, left  espaço externo */
  }

  .sidebar ul {
    display: flex;
    flex-direction: row; /* menu vertical column */
    align-items: center;
    gap: 10px;
  }

  .menu li {
    margin-bottom: 5px;
  }

  .sidebar-logo {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
    
  .sidebar-header {
    display: inline-flex;
    gap: 10px;
    margin-bottom: 0px;
  }
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) 
{
  .sidebar {
    width: auto;       /* largura fixa no desktop */
    max-width: auto;   /* garante que não passe disso */
    min-height: auto; /* ocupa toda a altura */
    text-align: left;
    padding: 10px 10px 10px 10px; /* top, right, bottom, left espaço interno */
    margin: 5px 5px 5px 5px; /* top, right, bottom, left  espaço externo */
  }
  
  .menu li {
    margin-bottom: 10px;
  }

  .sidebar-header {
    display: inline-flex;
    gap: 10px;
    margin-bottom: 0px;
  }

  .sidebar-logo {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}


/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) 
{
  .sidebar {
    grid-area: sidebar;
    min-height: 100vh; /* ocupa toda a altura */
    width: 250px;       /* largura fixa no desktop */
    text-align: left;
    padding: 10px 10px 10px 10px; /* top, right, bottom, left espaço interno */
    margin: 5px 0px 5px 5px; /* top, right, bottom, left  espaço externo */
  }
  
  .sidebar-logo {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .sidebar-header {
    display: inline-flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .sidebar li {
    margin-bottom: 15px;
  }

}

