 
 


.sidebar {
  grid-area: sidebar;
  width: 25px;
  min-height: 100vh;
  border-radius: 5px;
}



.sidebar-caption {
  font-size: 1.2rem;
  font-weight: 400;
}

.sidebar-caption-menu {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #9ca3af;
  margin-bottom: 10px;
}

/* Categoria */
.menu-category {
  margin-bottom: 25px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: inherit; /* herda cor do tema */
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #192033;
  transition: background 0.3s ease, color 0.3s ease;
}

 
.sidebar.dark .menu a:hover {
  background: linear-gradient(270deg, #16254a, #192033);
  border: 1px solid #172e69;
}


.sidebar.light .menu a:hover {
  background: linear-gradient(270deg, #f3f4f6, #e5e7eb);
  border: 1px solid #9ca3af;
  color: #000;
}


.sidebar.dark .menu a.active {
  background: linear-gradient(90deg, #111828, #16254a);
  color: #fff;
}

.sidebar.light .menu a.active {
  background: linear-gradient(90deg, #d1d5db, #9ca3af);
  color: #000;
}


.sidebar-header {
  display: flex;
  align-items: center;
}


 

/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
  .sidebar {
    width: auto;
    min-height: auto;
    padding: 10px 0 5px 15px;
    margin: 5px;
  }

  .sidebar ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .sidebar-logo {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    width: auto;
    min-height: auto;
    padding: 10px;
    margin: 5px;
  }

  .sidebar-logo {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}



/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) {
  .sidebar {
    min-height: 100vh;
    width: 250px;
    padding: 10px;
    margin: 5px 0 5px 5px;
  }

  .sidebar-logo {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}
