.botao-salvar {
  width: 100%;                  /* ocupa toda a largura */
  padding: 10px 16px;           /* espaçamento interno */
  border: 1px solid #21833f;    /* borda verde escura */
  background-color: transparent;/* fundo transparente */
  color: #66bb6a;               /* texto verde */
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;           /* cantos arredondados */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase; /* força maiúsculas */
}

.botao-salvar:hover {
  background-color: rgba(102, 187, 106, 0.1); /* verde translúcido */
  border: 1.5px solid #00ff4c;    /* borda verde escura */
  color: #66bb6a;
}

.botao-salvar:disabled {
  opacity: 1.;
  cursor: not-allowed;
}
