 
   .form-buttons {
    grid-column: 1 / -1; /* ocupa todas as colunas da grid */
    display: flex;
    justify-content: space-between; /* coloca Cancelar à esquerda e Salvar à direita */
    background: linear-gradient(270deg, #111828, #111828);
  }

  
 
  .form-buttons > *:last-child {
    margin-left: 0%;
  }

/* CELULAR */
@media (max-width: 600px) {
 
  .form-buttons > *:first-child {
    margin-right: 47%; /* dá um espaço extra à direita do botão Cancelar */
  }
 
  .form-buttons > * {
    flex: 0 0 60%; /* cada botão ocupa 10% da largura */
  }

}

/* TABLET */
@media (min-width: 601px) and (max-width: 1024px) 
{
 

  .form-buttons > *:first-child {
    margin-right: 170%;
  }
 

  .form-buttons > * {
    flex: 0 0 40%; /* cada botão ocupa 10% da largura */
  }

}

/* DESKTOP */
@media (min-width: 1025px) 
{
 
  .form-buttons > *:first-child {
    margin-right: 170%;
  }
 
  .form-buttons > * {
    flex: 0 0 40%; /* cada botão ocupa 10% da largura */
  }
    
}
