.form-header-box {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background: linear-gradient(90deg, #111828, #1f2937);
  color: #fff;
}

.form-header-content {
  display: flex;
 
  gap: 12px; /* espaço entre ícone e texto */
}

.form-header-icon {
  color: #f97316; /* cor do ícone */
}

.form-header-text {
  display: flex;
  flex-direction: column; /* título em cima, subtítulo embaixo */
  align-items: flex-start; /* alinha à esquerda do bloco */
}

.form-header-title {
  font-weight: bold;
}

.form-header-subtitle {
  font-size: 0.9rem;
  opacity: 0.8;
}
