.form-buttons {
  display: flex;
  justify-content: space-between; /* empurra um para cada extremo */
  margin-top: 20px;
}
 

.form-buttons > * {
  flex: 1;
}

.form-buttons > *:first-child {
  margin-right: 10px;
}

.form-buttons > *:last-child {
  margin-left: 10px;
}


/* CELULAR */
@media (max-width: 600px) {
  .form-container {
 
    background: linear-gradient(270deg, #111828, #111828);
    text-align: center;
    border-radius: 10px; /* bordas arredondadas no container */
    padding: 10px 10px 10px 10px; /* top, right, bottom, left espaço interno */
    margin: 5px 12px 5px 20px; /* top, right, bottom, left  espaço externo */
  }
}

/* TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
  .form-container {
  
    background: linear-gradient(270deg, #111828, #111828);
    text-align: center;
    border-radius: 10px; /* bordas arredondadas no container */
    padding: 10px 10px 10px 10px; /* top, right, bottom, left espaço interno */
    margin: 5px 12px 5px 20px; /* top, right, bottom, left  espaço externo */
  }
}

/* DESKTOP */
@media (min-width: 1025px) {
  .form-container {
 
    background: linear-gradient(270deg, #111828, #111828);

    text-align: center;
    border-radius: 10px; /* bordas arredondadas no container */
    padding: 10px 10px 10px 10px; /* top, right, bottom, left espaço interno */
    margin: 5px 12px 5px 20px; /* top, right, bottom, left  espaço externo */

  }
}
