/* 
.content-1 {
  grid-area: content-1;
  background-color: paleturquoise;
}

.content-2 {
  grid-area: content-2;
  background-color: papayawhip;
}

.content-3 {
  grid-area: content-3;
  background-color: plum;
}


*/


.details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #192033;
  padding: 16px;
  border-radius: 10px;
  flex: 1 1 300px; /* ocupa espaço flexível, mínimo 300px */
  color: #e1e7e8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}



/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
    .details {
            display: flex;
      gap: 20px;
        flex-direction: column;
        gap: 10px;
    }
    .card {
        font-size: 0.9rem;
    }
    .image-card {
        flex-basis: 100%; /* uma coluna */
    }
    .details-body  {
      grid-area: details-body;
 
       background: linear-gradient(90deg, #00f2fe, yellow); 
      padding: 10px;
      text-align: center;
    }
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {
 
    .details {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }
    .card {
        max-width: 600px;
    }
    .image-card {
        flex-basis: 45%; /* duas colunas */
    }
    .details-body  {
      grid-area: details-body;
      background: linear-gradient(90deg, Green, #00f2fe);
      padding: 10px;
      text-align: center;
    }
}

/* ============================
   DESKTOP
   ============================ */
  @media (min-width: 1025px) 
  {
 
    .details {
        display: flex;
        gap: 20px;
  
    }

    .details-body {
      grid-area: details-body;
      background: linear-gradient(270deg, #111828, #111828);
      text-align: center;
      border-radius: 30px; /* bordas arredondadas no container */
      padding: 20px 15px 20px 15px; /* top, right, bottom, left espaço interno */
      margin: 10px 20px 10px 20px; /* top, right, bottom, left  espaço externo */
    }
 

    .card {
      background-color: #192033;
      padding: 16px;
      border-radius: 10px;
      flex: 1;
      color: #e1e7e8;
    }
}
