 
.footer {
  
  color: #fff;
  padding: 40px 20px;
}


.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 8px;
}





/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
  footer {
    grid-area: footer;
    background: linear-gradient(90deg, #00f2fe, yellow); 
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 20px 0;
  }

  .social-links {
    justify-content: center;
    flex-wrap: wrap;
  }
  .social-links a:hover {
    color: #bbb; 
  }

  .footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-section a:hover {
    color: #bbb;
  }
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {
  footer {
    grid-area: footer;
    background: linear-gradient(90deg, Green, #00f2fe);
  }

  .footer-container {
    justify-content: center;
    text-align: center;
  }

  .footer-section {
    flex: 1 1 45%; /* duas colunas por linha */
  }
 
  .social-links {
        justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    color: #fff;
  }
  .social-links a:hover {
    color: #bbb; 
  }
  .footer-section a {
    color: #e1e7e8;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-section a:hover {
    color: #bbb;
  }
}

/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) {
  footer {
    grid-area: footer;
   
    background: linear-gradient(270deg, #111828, #111828);
    text-align: center;
    border-radius: 30px; /* bordas arredondadas no container */
    padding: 20px 15px 20px 15px; /* top, right, bottom, left espaço interno */
    margin: 10px 20px 10px 20px; /* top, right, bottom, left  espaço externo */
     
  }

  .footer-container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 20px; /* espaço entre seções */
  }

  .footer-section {
    flex: 1;  /* três colunas lado a lado */
    min-width: 250px;
    
  }
  .social-links {
    display: flex;
    gap: 15px;
     color: #e1e7e8;
  }
  .social-links a:hover {
    color: #bbb; 
  }
  .footer-section a {
    color: #e1e7e8;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-section a:hover {
    color: #bbb;
  }

  h2 {
         color: #fff;
  }

}