 

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 8px;
}




/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
  footer {
    grid-area: footer;
    background: linear-gradient(270deg, #111828, #111828);
    text-align: center;
    border-radius: 10px; /* bordas arredondadas no container */
    padding: 20px 20px 20px 20px; /* top, right, bottom, left espaço interno */
    margin: 5px 2px 5px 5px; /* top, right, bottom, left  espaço externo */
  }

  .social-links {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    color: #fff;
  }

  .social-links a:hover {
    color: #bbb; 
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-section a:hover {
    color: #bbb;
  }
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {
  footer {
    grid-area: footer;
    background: linear-gradient(270deg, #111828, #111828);
    text-align: center;
    border-radius: 10px; /* bordas arredondadas no container */
    padding: 20px 15px 20px 15px; /* top, right, bottom, left espaço interno */
    margin: 5px 2px 5px 5px; /* top, right, bottom, left  espaço externo */
  }
 
 
  .social-links {
        justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    color: #fff;
  }

  
  .social-links a:hover {
    color: #bbb; 
  }

  .footer-section a {
    color: #e1e7e8;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-section a:hover {
    color: #bbb;
  }
}
 
/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) {
  footer {
    grid-area: footer;
    background: linear-gradient(270deg, #111828, #111828);
    text-align: center;
    border-radius: 30px;
    padding: 10px 10px 10px 20px; /* top, right, bottom, left espaço interno */
    margin: 10px 12px 10px 20px; /* top, right, bottom, left  espaço externo */
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
  }

  .footer-section {
    color: #e1e7e8;
  }

  .social-links {
    display: flex;          /* coloca os links lado a lado */
    flex-direction: column;    /* garante que fiquem na horizontal */
    gap: 15px;              /* espaço entre os links */
    color: #e1e7e8;
  }

  .social-links a {
    color: #e1e7e8;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .social-links a:hover {
    color: #bbb;
  }

  
  .footer-section a {
    color: #e1e7e8;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-section a:hover {
    color: #bbb;
  }

  h2, h3 {
    color: #fff;
  }
}


 