
.card {
  background-color: lightblue;
  padding: 16px;
  border-radius: 4px;
  flex: 1;
}

.image-card {
  background-color: lightblue;
  border: 1px solid red;
  padding: 10px;
  flex-basis: 200px;
}

.image-card img {
  width: 100%;
}

.galeria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}