



/* Texto Esquerda */
.header-left h2 {
  margin: 0;
  font-size: 1.2rem;
}
.header-left p {
  margin: 0;
  font-size: 0.9rem;
  color: #bbb;
}


/*  ícones */
.header-right {
  display: flex;
  gap: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

  .header {
    background: #111828;
  }



/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
  header {
    grid-area: header;
    color: #fff;
    border-radius: 15px; /* bordas arredondadas no container */
    padding: 15px 5px 5px 15px; /* top, right, bottom, left espaço interno */
    margin: 0px 5px 5px 5px; /* top, right, bottom, left  espaço externo */
  }


  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: auto;
    flex-direction: column;
    text-align: center;
 
  }
 
  
  .header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* deixa redondo */
    object-fit: cover;  /* ajusta a imagem sem distorcer */
  }
 
 
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {
  header {
    grid-area: header;
    background: linear-gradient(90deg, Green, #00f2fe);
    color: #fff;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

   .header {
    background: linear-gradient(90deg, Green, #00f2fe);
  color: #fff;
  border-radius: 15px; /* bordas arredondadas no container */
  padding: 20px 15px 20px 15px; /* top, right, bottom, left espaço interno */
  margin: 10px 20px 10px 20px; /* top, right, bottom, left  espaço externo */
}

  .logo h1 {
    font-size: 1.5rem;
      margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
  }

  .nav ul {
    gap: 15px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap; /* permite quebrar linha quando necessário */
  }

  .nav a:hover {
    color: violet;
  }

  .header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* deixa redondo */
    object-fit: cover;  /* ajusta a imagem sem distorcer */
  }


 
}


/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) {
  header {
    grid-area: header;
 
    color: #fff;
    padding: 20px 40px;
    border-radius: 15px; /* bordas arredondadas no container */
    padding: 15px 15px 0px 15px; /* top, right, bottom, left espaço interno */
    margin: 10px 12px 10px 20px; /* top, right, bottom, left  espaço externo */
  }

  

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1550px;
    margin: auto;
    flex-wrap: wrap; /* permite quebrar linha quando necessário */
  }
  
 

 
  .header-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* deixa redondo */
    object-fit: cover;  /* ajusta a imagem sem distorcer */
  }


}