
/* Texto Esquerda */
.header-left h2 {
  margin: 0;
  font-size: 1.2rem;
}
.header-left p {
  margin: 0;
  font-size: 0.9rem;
}

  .header {
    background: linear-gradient(270deg, #111828, #111828);
  }


/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
  header {
    grid-area: header;
 
    border-radius: 10px; /* bordas arredondadas no container */
    padding: 10px 0px 5px 0px; /* top, right, bottom, left espaço interno */
    margin: 5px 5px 0px 5px; /* top, right, bottom, left  espaço externo */
 
     /* border-radius: 0 0 10px 10px;  só arredonda embaixo */
  }


  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }
 
  
  .header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* deixa redondo */
    object-fit: cover;  /* ajusta a imagem sem distorcer */
  }
 
  
  /*  ícones */
  .header-right {
    display: flex;
    gap: 40px;
    padding: 15px 0px 5px 0px; /* top, right, bottom, left espaço interno */
 
  }

  .header-left {
    display: flex;
    align-items: self-start;
    gap: 30px;
    padding: 5px 0px 0px 0px; /* top, right, bottom, left espaço interno */
  }

 
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {
  header {
    grid-area: header;
 
    border-radius: 10px; /* bordas arredondadas no container */
    padding: 5px 15px 15px 15px; /* top, right, bottom, left espaço interno */
    margin: 5px 5px 5px 5px; /* top, right, bottom, left  espaço externo */
  }

 

 
 
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    flex-wrap: wrap; /* permite quebrar linha quando necessário */
  }

 

  .header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* deixa redondo */
    object-fit: cover;  /* ajusta a imagem sem distorcer */
  }


  /*  ícones */
  .header-right {
    display: flex;
    gap: 40px;
    padding: 20px 0px 5px 0px; /* top, right, bottom, left espaço interno */
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 0px 0px 0px; /* top, right, bottom, left espaço interno */
  }

 
}


/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) {
  header {
    grid-area: header;
 
    padding: 20px 40px;
    border-radius: 15px; /* bordas arredondadas no container */
    padding: 18px 15px 0px 15px; /* top, right, bottom, left espaço interno */
    margin: 5px 10px 5px 20px; /* top, right, bottom, left  espaço externo */
  }

  

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1550px;
    margin: auto;
    flex-wrap: wrap; /* permite quebrar linha quando necessário */
  }
  
 

 
  .header-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* deixa redondo */
    object-fit: cover;  /* ajusta a imagem sem distorcer */
  }

  
  /*  ícones */
  .header-right {
    display: flex;
    gap: 40px;
    padding: 7px 0px 0px 0px; /* top, right, bottom, left espaço interno */
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 0px 0px 0px; /* top, right, bottom, left espaço interno */
  }


}