
/* ============================
   ESTILOS GERAIS
   ============================ */

 .sidebar {
  width: 200px;
  background: linear-gradient(270deg, #111828, #111828);
  color: #fff;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
}

.sidebar-logo {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-header {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar-caption {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

/* Categoria */
.menu-category {
  margin-bottom: 25px;
}

.menu-category h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #bbb;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid silver;
  transition: background 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  background: linear-gradient(270deg, #272729, #242427);
  color: #fff;
}

.menu .active a {
  background: linear-gradient(270deg, #405669, #16284a);
  color: #fff;
}




/* ============================
   CELULAR
   ============================ */
@media (max-width: 600px) {
 .sidebar {
    background: linear-gradient(180deg, #00f2fe, #00f2fe);
    color: #fff;
    min-height: auto;
    text-align: center;
    padding: 5px;
    grid-area: sidebar;
    width: auto;       /* largura fixa no desktop */
    max-width: auto;   /* garante que não passe disso */
  }

  .sidebar ul {
    display: flex;
    flex-direction: row; /* menu vertical column */
    align-items: center;
    gap: 0px;
  }

  .menu li {
    margin-bottom: 5px;
  }

  
}

/* ============================
   TABLET
   ============================ */
@media (min-width: 601px) and (max-width: 1024px) {

  .sidebar {
    width: 220px;
    background: linear-gradient(90deg, Green, #00f2fe);
    color: #fff;
    min-height: auto;
    padding: 20px;
  }
  .menu li {
    margin-bottom: 5px;
  }

}


/* ============================
   DESKTOP
   ============================ */
@media (min-width: 1025px) 
{
  .sidebar {
    grid-area: sidebar;
    /*background: linear-gradient(270deg, #4facfe, #00f2fe); */
    background: linear-gradient(270deg, #111828, #111828);
   
    color: #fff;
    min-height: 100vh; /* ocupa toda a altura */
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
    width: 250px;       /* largura fixa no desktop */


      text-align: left;
      border-radius: 10px; /* bordas arredondadas no container */
      padding: 10px 10px 10px 10px; /* top, right, bottom, left espaço interno */
      margin: 10px 0px 10px 5px; /* top, right, bottom, left  espaço externo */
  }

  .sidebar li {
    margin-bottom: 15px;
  }
}

